.App {
  
  background: linear-gradient(0.25turn, #e66465, #ebf8e1, #9198e5);
}
.buttons{
  grid-column: 1/4;
  height: 80px;
  width: 336px;
  text-align: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  text-shadow: 10px;
  font-size: 20px;
  outline: transparent;
  font-weight: bolder;
  background-image: linear-gradient(to right, #540374, #945fd1);
}





